
$accent: #8833ff; /* #8833ff also looks really well */
$secondary_accent: #17C25B;
$base_bg: #20262d; /* #20262d also looks really well */
$border: rgba(0, 0, 0, .5);
$highlight_border: rgba(255, 255, 255, .04);
$button_radius: 5px;
