
@use 'def';

%entry {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3));
    background-clip: padding-box;
    border: 1px solid def.$border;
    border-radius: 5px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .2),
                0 0 0 1px def.$highlight_border;

    &:disabled {
        border-color: rgba(0, 0, 0, .2);
        background: rgba(0, 0, 0, 0.03);
        box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .01),
            0 0 0 1px def.$highlight_border;
        
        * {
            color: rgba(255, 255, 255, .3);
        }
    }

    &.flat {
        background: transparent;
        border-color: transparent;
        border-radius: 0;

        &:focus {
            border-bottom-color: def.$accent;
        }
    }

    selection {
        background-color: rgba(def.$accent, .4);
        color: #ffffff;
    }
}

entry {
    @extend %entry;

    padding: 8px;

    image.left {
        margin-right: 8px;
    }

    image.right {
        margin-left: 8px;
    }
}

