
@use 'def';
@use 'buttons';
@use 'linkedButtons';
@use 'checks';
@use 'scales';
@use 'separators';
@use 'entries';
@use 'sidebars';
@use 'lists';
@use 'mozilla';
@use 'phosh';

* {
    padding: 0;
    margin: 0;
    background: transparent;
    width: unset;
    height: unset;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    color: rgba(255, 255, 255, .9);
}

.background {
    background: def.$base_bg;
}

.titlebar {
    background: def.$base_bg;
    padding: 4px;
    border-bottom: 1px solid def.$border;
}


