
$accent: #1155ff; /* #8833ff also looks really well */
$secondary_accent: #17C25B;
$base_bg: #323232; /* #20262d also looks really well */
$border: rgba(0, 0, 0, .5);

* {
    padding: 0;
    margin: 0;
    background: transparent;
    width: unset;
    height: unset;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    color: rgba(255, 255, 255, .9);
}


.background {
    background: $base_bg;
}

.titlebar {
    background: $base_bg;
}


button, .button {
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $border,
                inset 0 0 0 1px rgba(255, 255, 255, .04);

    &:hover {
        background: linear-gradient(to top, shade($base_bg, 1.1), shade($base_bg, 1.3));
        box-shadow: inset 0 1px rgba(255, 255, 255, .16),
                    inset 0 0 0 1px rgba(255, 255, 255, .08);
        transition: background .15s, color .1s, box-shadow .1s;
    }
}


/*
button:active,
button:checked,
button.flat:active,
.button:active,
.button:checked,
.button.flat:active,
.titlebar button:active {
    color: rgba(255, 255, 255, .7);
    background: rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .4),
                inset 0 1px rgba(0, 0, 0, .2),
                inset 0 0 0 1px rgba(0, 0, 0, .02);
    transition: background .15s, color .1s, box-shadow .1s;
    border-color: @border;
}

button.suggested-action,
.button.suggested-action {
    background: linear-gradient(to top, @accent, shade(@accent, 1.2));
    box-shadow: inset 0 1px rgba(255, 255, 255, .18),
                inset 0 0 0 1px rgba(255, 255, 255, .12);
}

button.suggested-action:hover,
.button.suggested-action:hover {
    background: linear-gradient(to top, shade(@accent, 1.1), shade(@accent, 1.3));
    box-shadow: inset 0 1px rgba(255, 255, 255, .18),
                inset 0 0 0 1px rgba(255, 255, 255, .12);
}

button.suggested-action:active,
.button.suggested-action:active {
    background: shade(@accent, 0.8);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .4),
                inset 0 1px rgba(0, 0, 0, .2),
                inset 0 0 0 1px rgba(0, 0, 0, .02);
}

button:disabled,
.button:disabled {
    background: transparent;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .02);
    border-color: rgba(0, 0, 0, .4);
    transition: background .15s, color .1s, box-shadow .1s;
    color: rgba(255, 255, 255, .3);
}

button:active:disabled,
button:checked:disabled,
button.flat:active:disabled,
.button:active:disabled,
.button:checked:disabled,
.button.flat:active:disabled {
    background: rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2),
                inset 0 1px rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, .4);
    transition: background .15s, color .1s, box-shadow .1s;
    color: rgba(255, 255, 255, .2);
}

button.link,
button.flat,
button.titlebutton,
.button.link,
.button.flat {
    background: none;
    box-shadow: none;
    border-color: transparent;
    padding: 6px;
    transition: color .2s;
}

button.flat:hover:not(:active),
.button.flat:hover:not(:active) {
    background: unset;
    box-shadow: unset;
}

button.link label {
    color: @secondary_accent;
    text-decoration: underline @secondary_accent;
    transition: color .15s, text-decoration .15s;
}

button.link:hover label {
    color: shade(@secondary_accent, 1.2);
    text-decoration: underline shade(@secondary_accent, 1.2);
    transition: color .15s, text-decoration .15s;
}

button.circular,
.button.circular {
    border-radius: 50%;
    padding: 6px;
}
*/
