
@use 'def';

@use 'buttons';
@use 'checks';
@use 'entries';
@use 'linkedButtons';
@use 'lists';
@use 'menu';
@use 'scales';
@use 'scrollbars';
@use 'separators';
@use 'sidebars';

@use 'mozilla';
@use 'phosh';

* {
    padding: 0;
    margin: 0;
    background: transparent;
    width: unset;
    height: unset;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    color: rgba(255, 255, 255, .9);
}

.background {
    background: def.$base_bg;
}

.titlebar {
    background: def.$base_bg;
    padding: 4px;
    border-bottom: 1px solid def.$border;
}

tooltip {
    background-color: rgba(#252627, 0.9);
    border-radius: 5px;
    border: 1px solid def.$border;
    box-shadow: inset 0 0 0 1px rgba(#fff, 0.04);
    color: rgba(#fff, 0.9);
    padding: 3px 6px;
    margin: 6px;
    text-shadow: 0 1px 2px rgba(#000, 0.6);
}
