
@use 'def';

/*
 * Top bar panel
 */

.phosh-panel-btn {
  background: none;
  border: none;
}

.phosh-topbar-clock {
  font-weight: bold;
}

.phosh-power-button {
  padding: 8px;
  margin: 4px;
  background: none;
}

/*
 * Home bar
 */
.phosh-osk-button {
  min-width: 0;
  min-height: 0;
  padding: 0px;
  background: none;
}

/*
 * Settings menu
 */
.phosh-settings-menu {
  background-color: def.$base_bg;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.phosh-settings-listboxrow {
  padding: 0;
}

.phosh-settings-row {
  box-shadow: none;
  background-color: #ff0000;
}

.phosh-settings-menu button.circular:not(:hover):not(:active) {
    border: 2px solid def.$base_bg;
}

.phosh-notification-tray, .phosh-notification-tray list {
  border-radius: 6px;
  background-color: #282828;
}

.phosh-quick-setting {
  font-size: 10px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0;

  &:not(:hover):not(:active) {
    background: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

/*
 * Overview (app grid with favories and, activities)
 */
phosh-activity {
  background: white;
  border: none;
  border-radius: 5px;
  /* box-shadow: 0 2px 2px rgba(0,0,0,0.4), 0 3px 16px rgba(0,0,0,0.3); */
}

.phosh-activity-empty {
  background: url('resource:///sm/puri/phosh/fake-app.svg');
  background-size: cover;
}

phosh-activity box {
  background: rgba(0, 0, 0, 0.7);
  padding: 6px;
  color: white;
  font-weight: bold;
}

phosh-activity:focus box {
  background: rgba(38, 35, 83, 0.7);
}

phosh-home, .phosh-panel {
  background: def.$base_bg;
  color: white;
}

.phosh-activity-close-button {
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  margin: 12px;
  padding: 12px;
  background: rgba(255, 48, 48, .3);
  color: rgba(255, 48, 48, .9);
}

.phosh-overview {
  background: #00ff00;
}

.phosh-favorite {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;

  &:hover {
    -gtk-icon-effect: none;
  }

  &:active {
    -gtk-icon-effect: highlight;
  }
}

.phosh-search-bar {
  border-radius: 9999px;
  padding: 3px 18px 3px 14px;
  margin: 0 10px 6px;
  background-color: rgba(255, 255, 255, .1);
}

phosh-app-grid {
  background: rgba(0, 0, 255, .2);

  separator {
    background: rgba(51, 51, 51, 1);
    min-height: 1px
  }
}

phosh-app-grid-button {
  font-size: 0.8rem;

  button, button:hover {
    background: none;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
  }

  button:hover,
  button:focus,
  .search-active &:first-child button {
    background: rgba(46, 45, 45, 0.6);
    border-radius: 5px;
  }

  button:focus {
    border-color: def.$accent;
  }

  image {
    /* -gtk-icon-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 1px 8px rgba(0,0,0,0.2); */
  }
}

/*
 * Lock screen
 */
.phosh-lockscreen-clock {
  font-size: 72px;
  font-weight: 100;
}

.phosh-lockscreen-arrow {
  transition: 400ms linear;
  animation: pulsate 1.8s ease-out;
  animation-iteration-count: 15;
}

.phosh-lockscreen-pin {
  font-size: 24px;
}

@keyframes pulsate {
  0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
  35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
  100% {-gtk-icon-transform: translateY(0); opacity: 0.7}
}

/* Lockscreen keypad */
keypad > grid > button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
  border: 0;
  box-shadow: none;
  background: 0;
  border: 0;
}

keypad > grid > button:active {
  background: rgba(255, 255, 255, 0.3);
}

.text-only-button:active {
  background: rgba(255, 255, 255, 0.5);
}

keypad > grid > button:focus, .text-only-button:focus {
  outline-style: none;
}

.text-only-button {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 36px;
  border: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
}

/*
 * System modal dialogs (polkit, gcr)
 */
.phosh-system-modal-dialog {
  background-color: #ff00ff;
  border: solid 2px;
  border-color: white;
  border-radius: 10px;
  padding: 18px;
}

/*
 * Output fader
 */
@keyframes phosh-fade-in {
  from {background:rgba(0, 0, 0, 0);}
  to {background:rgba(0, 0, 0, 1);}
}

.phosh-fader-fade-in {
  animation-name: phosh-fade-in;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
