
@use 'def';

.sidebar,
.sidebar.view,
.sidebar list,
.source-list,
.source-list .view {
    border-radius: 0;
    -gtk-icon-style: regular;
}

.sidebar {
    list {
        row {
            border-radius: 0 !important;
            padding: 6px 12px;
        }
    }
}

treeview.sidebar {

    .view {
        border-radius: 0;
    }
}

.sidebar-icon {
    padding: 0 0 0 12px;
}

.sidebar-label {
    padding: 8px;
}
