
.sidebar,
.sidebar.view,
.sidebar list,
.source-list,
.source-list {
    background-color: rgba(0, 0, 0, .07);
}

.sidebar {
    list {
        row {
            border-radius: 0 !important;
            padding: 6px 12px;
        }
    }
}

treeview.sidebar {

    .view {
        border-radius: 0;
    }
}
